.first-card {
    background-color: #8240aa !important;
}
.second-card {
    background-color: #6a1b9a !important;
}
.third-card {
    background-color: #55107f !important;
}
.cards {
    background-color: #8e4fb5 !important;
}

.theme--dark.v-application {
    background: #212121 !important;
}

.delete-button {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.add-button {
    position: absolute !important;
    right: 0 !important;
    margin-top: 30px !important;
}

